@import "tailwindcss";

#root {
  background-color: rgb(235, 253, 255);
}

h1 {
  color: black;
  margin-bottom: 20px;
}

h2 {
  font-size:32px;
  color: black;
  margin-bottom: 16px;
  font-weight: 500;

}

h3 {
  font-size:20px;
  color: black;
  margin-bottom: 16px;
  font-weight: 600;
}

li {
  color: black;
  list-style-type: circle;
}

p {
  font-size: 18px;
  color: black;
  margin-bottom: 10px;
}



